body
{margin:0;
padding:0;
background:#F9EBD5;
}

.nav{
	background-color:white;
width:100%;
display:flex;
justify-content:space-between;
align-items:centre;
padding:30px 0;

}
.nav .logo h1{
	font-weight:800;
	font-family:sans-serif;
	color:#000000;
}
.nav .logo b{
	
	color:#ff511c;
}

.nav ul{
	
	display:flex;
	list-style:none;
	
}
.nav ul li{
margin-right:50px;}
.nav ul li a{
	text-decoration:none;
	color:#000000;
	font-weight:500;
	font-family:sans-serif;
	font-size:17px;
}
.nav ul li a:hover{
	color:#CC3333
}
.nav ul .active::after{
	
	content:"";
	width:50%;
	height:3px;
	background-color:black;
	display:flex;
	position:relative;
	margin-left:10px;
}
input{
	padding:10px 20px;
	cursor:pointer;
	font-weight:600;
}
.signin{
	background:transparent;
border:none;}
.signup{
	background-color:#ff511c;
	color:#ffffff;
	outline:none;
	border:none;
border-radius:5px;}
.menu{
	padding:0 10px 30px 10px;
	display:grid;
	grid-template-columns:repeat(auto-fit,minmax(350px,1fr));
	grid-gap:30px 50px;
}

.search-box
{
	
	position:absolute;
	top:17%;
	left:50%;
	transform:translate(-50%,-50%);
	background:#F91E17;
    border-radius:40px;

	height:40px;
    padding:10px;
	
}
.search-box:hover > .search-btn{
	color:#000;
}
.search-box:hover > .search-txt{
	width:240px;
	padding:0 6px;
}
.search-btn{
	color:#e84118;
	float:right;
	width:40px;
	height:40px;
	border-radius:50%;
	background:white;
	display:flex;
	justify-content:center;
	align-items:center;
}


.search-txt {
	border:none;
	background:none;
	outline:none;
	float:left;
	padding:0;
	color:white;
	font-size:16px;
	transition:0.4s;
	width:0px;
	line-height:40px;
}

.food-items {

display:grid;
position:relative;
grid-template-rows:auto 1fr;
border-radius:50px;
box-shadow:10px 10px 15px rgba(0,0,0,0.8);
transition: .4s ease-in-out;
background:#f2f2f2;		
}
.food-items:hover:{
	box-shadow:0 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0.23);
	transform:translate(0px,-8px);
	
}
.food-items img{
position:relative;
width:70%;
height:250px;
border-radius: 15px 15px 0 0;
cursor:pointer;	
left:20%;
	
}

.details{
	padding:0px 0px;
	display:grid;
	grid-template-rows:auto 1fr 10px;
	grid-row-gap:-60px;
	
}
.details-sub{
	display:grid;
	grid-template-columns:auto auto;
	
	
}
.details-sub>h5{
	
	font-weight:600;
	font-size:18px;
}
.details>button .button{
	color:#000;
	text-decoration:none;
}


.details>button{
	background:#dc1313;
	border:none;
	top:25%;
	color:#fff;
	font-size:25px;
	font-weight:600;
	border-radius:5px;
	width:180px;
	cursor:pointer;
margin-left:20%;}
.content{
	
	display:grid;
	grid-template-columns:60% auto;
	gap:10px;
	align-items:center;
	justify-content:space-between;
	width:70%;
	
}
.content .content-left{
	display:block;
	width:100%;
	
	
}
.content .content-left .info{
	max-width:100%;
	display:flex;
flex-direction:column;}

.content .content-left h6{
font-size:30px;
font-family:sans-serif;
margin-bottom:10px;}
.content .content-left p{
font-size:20px;
line-height:2pc;
margin-bottom:0px;
font-family:sans-serif;

}
.content .content-left button{
	
	padding:20px 23px;
	background-color:#ff511c;
	color:#ffffff;
	border-radius:20px 20px 0 0;
	border:none;
	cursor:pointer;
	display:infline-block;
	font-size:15px;
	text-transform:capitalize;
	
	
}
.content .content-left button:hover {
	
	background-color:#292929;
	
}


.content .content-right{
	display:block;
	width:100%;
}
.content .content-right img{
	width:250px;
	height:auto;
	position:relative;
	user-select:none;
	animation:rotate  10s linear infinite;
}
	

.details>button:hover{
	background-color:#292929;
}
.checked:{#292929;}
.checked:hover{
	color:red;
}



